<?xml version="1.0"?>

<model>
  <name>Double pendulum with base</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Evan Drumwright</name>
    <email>drum@gwu.edu</email>
  </author>

  <description>
    A double pendulum with mass concentrated in the bobs.
    The pendulum is attached to a heavy base that rests on the ground.
    Modified from Steven Peters' original model.
    High effort limits.
  </description>

</model>
