<?xml version="1.0"?>

<model>
  <name>Planar robot</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Evan Drumwright</name>
    <email>drum@gwu.edu</email>
  </author>

  <description>
    A virtual planar robot. 
  </description>

  <depend>
  </depend>
</model>
